@import colors
@import prefixes
@import 'components/triangle'
@import fitter

#article .ig
  @import basics

#article
  .infobox
    width 500px
    margin-left (250px - 24px)
    float left
    background lighten(desaturate(ColorBlue, 90%), 99%)
    border 1px solid ColorBlue
    padding 15px 24px
    border-radius 4px
    margin-bottom 15px
    h2
    p
      color darken(ColorBlue, 70%)
    h2
      margin-top 0px
      margin-bottom 0.3em
      font-size 20px
      font-weight 500
    p
      line-height 1.7em
  img.big
    margin-top 20px
    margin-bottom 15px + @margin-top
    &.infografika
      margin-left 250px - 35px
      margin-top 0px
  iframe.timeline
    width 1000px !important
    max-width none
    margin-top 20px
    margin-bottom 15px + @margin-top
  iframe.prehravac
    width 220px
    height 160px
    float right
